<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Uploaded Files</title>
</head>
<body>
  <div class="container">
    <h1>File yang Di-upload</h1>
    <p>File <strong><%= fileName %></strong> telah berhasil di-upload!</p>
    <a href="/">Upload File Lagi</a>
  </div>
</body>
</html>
